/* Inter 400,500,600 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
/* Work Sans 300(italic), 400, 500 */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;1,300&display=swap');
/* Montserrat 400 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Lato 400 */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@font-face {
    font-family: 'Neue Machina';
    src: local('Neue Machina Regular'), local('Neue-Machina-Regular'),
        url('../fonts/NeueMachina-Regular.woff2') format('woff2'),
        url('../fonts/NeueMachina-Regular.woff') format('woff'),
        url('../fonts/NeueMachina-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }